[Unit]
Description=Remotly Piloted Aircraft System
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash /srv/rpas/scripts/start.sh
Restart=on-abort
User=pi

[Install]
WantedBy=multi-user.target
